table{
	 text-align: center;
	 width:100% !important;
	 height:auto; 
	 line-height: 22px !important;
	 font-size: 12px;
	 border: none;
	 border-collapse: collapse;
}

table, td, th {
	 border: 1px solid black;
	 font-size: 12px !important;
	 text-align: center !important;
	
}
table th{
 padding:5px !important;
}
table td{
	padding-right: 4px;
    padding-left: 4px;
}
.ellipsis {
			display: inline-block;
			width:100%;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
}

.overflow-x{
	overflow-x: auto
}

.content-left{
	text-align:left !important;
	max-width: 100px;
}

.content-right{
	text-align:right !important;
}
.hide{
	display: none;
}